.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    background-color: white;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px 20px;
    flex: 0 0 1;
    box-shadow: -3px 6px 5px #999;
}


/*a, a:focus, a:visited, a:active {*/
/*    text-decoration: none;*/
/*    font-size: 20px;*/
/*    color: blue;*/
/*    padding: 10px;*/
/*}*/

.buttonContainer button:active {
    transform: translate(-2px,5px);
    box-shadow: -1px 1px #333;
}

.randomEnter, .selectFamily {
    border: 3px solid #4CAF50 ;
    color: black;
}


.randomEnter:hover, .selectFamily:hover {
    background-color: #4CAF50;
    transition: background-color 0.5s;
    color: white;
}

.randomLeave, .selectBusiness {
    border: 3px solid #f44336;
}


.randomLeave:hover, .selectBusiness:hover {
    background-color: #f44336;
    transition: background-color 0.5s;
    color: white;
}

.reset, .selectStandard {
    border: 3px solid rgb(100,100,100);
}

.reset:hover, .selectStandard:hover {
    background-color: rgb(100,100,100);
    transition: background-color 0.5s;
    color: white;
}

.simulationButton, .resetFilters {
    border: 3px solid #2e2ef5;
}

.simulationButton:hover, .resetFilters:hover {
    background-color: #2e2ef5;
    transition: background-color 0.5s;
    color: white;
}


.selectFamily {
    border: 3px solid #4CAF50 ;
    color: black;
}


.selectFamily:hover {
    background-color: #4CAF50;
    transition: background-color 0.5s;
    color: white;
}

.selectBusiness {
    border: 3px solid #f44336;
}


.selectBusiness:hover {
    background-color: #f44336;
    transition: background-color 0.5s;
    color: white;
}

.selectStandard {
    border: 3px solid rgb(100,100,100);
}

.selectStandard:hover {
    background-color: rgb(100,100,100);
    transition: background-color 0.5s;
    color: white;
}

.resetFilters {
    border: 3px solid #2e2ef5;
}

.resetFilters:hover {
    background-color: #2e2ef5;
    transition: background-color 0.5s;
    color: white;
}

.previousFloor, .nextFloor {
    position: absolute;
    top: 500px;
    z-index: 1;
    font-size: 24px;
    font-weight: bold;
}

.previousFloor {
    left: 20%;
}

.nextFloor {
    right: 20%;
}