.carparkContent {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 50px;
    align-items: center;
}

.carparkContainer {
    display: flex;
    width: 800px;
    overflow: hidden;
    align-self: center;
}

.etage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 0 50px 10px 50px;
    gap: 20px;

}

.carpark {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    gap: 20px;
    padding: 10px 5px;
    background-color: lightblue;
}


select {
    flex: 1;
    padding: 0 .5em;
    color: #4287f5;
    font-size: 15px;
    font-family: Helvetica, serif;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: solid 3px #4287f5;
    background: #ffffff;
}

.selectContainer {
    position: relative;
    display: flex;
    width: 250px;
    height: 50px;
    line-height: 3;
    background: #ffffff;
    overflow: hidden;
    border-radius: 5px;
}

.selectContainer::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #4287f5;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.selectContainer:hover::after {
    color: #ffffff;
}

