.parkplatzContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.parkplatz {
    width: 50px;
    height: 30px;
    padding-bottom: 5px;
    border: 3px dashed white;
    border-top-color: transparent;
}

.etage[data-type="Car"] .parkplatz[data-kundentyp="Standard"] {
    background-image: url("../icons/carStandard.svg"); /* https://freeicons.io/ios-edge/car-icon-29258 */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* car bike, and truck icons from fontawesome */
.etage[data-type="Car"] .parkplatz[data-kundentyp="Family"] {
    background-image: url("../icons/carFamily.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.etage[data-type="Car"] .parkplatz[data-kundentyp="Business"] {
    background-image: url("../icons/carBusiness.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.etage[data-type="Truck"] .parkplatz[data-kundentyp="Standard"] {
    background-image: url("../icons/truckStandard.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.etage[data-type="Truck"] .parkplatz[data-kundentyp="Family"] {
    background-image: url("../icons/truckFamily.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.etage[data-type="Truck"] .parkplatz[data-kundentyp="Business"] {
    background-image: url("../icons/truckBusiness.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.etage[data-type="Bike"] .parkplatz[data-kundentyp="Business"] {
    background-image: url("../icons/motorcycleBusiness.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.etage[data-type="Bike"] .parkplatz[data-kundentyp="Standard"] {
    background-image: url("../icons/motorcycleStandard.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}