footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 100px;
    background-color: rgb(50,50,50);
    width: 70vw;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    padding: 20px;
}

footer a,
footer a:focus,
footer a:hover,
footer a:visited,
footer a:active{
    display: inline;
    color: white;
    font-size: 16px;
    text-decoration: underline;
}