header {
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

header #hbrs {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 300px;
}

header h1{

}