.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 550px;
    top: 150px;

}
a, a:focus, a:visited, a:active {
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.kasseContainer {
    position: relative;
    height: 600px;
    width: 1000px;
}
.backButton a::before {
    display: inline-block;
    color: #2e2ef5;
    width: 20px;
    content: url("../icons/leftArrow.svg"); /*https://fontawesome.com/v5.15/icons/arrow-alt-circle-left?style=regular*/
    margin-right: 10px;
}

.kasse {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 20px;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 15%;
}

.kasse label{
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
}

.kasse button {
    width: 100px;
}

.kasse .ticketNr {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 30px;
    height: 50px;
    width: 130px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid black;
}

.kasse .amount, .kasse .payment {
    margin-top: 10px;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid black;
}
.kasse .amount {
    height: 20px;
    padding: 10px;
}

.kasse .payment {
    width: 80px;
    padding: 5px;
}

.kasse .payButton, .backButton {
    background-color: white;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px 20px;
    flex: 0 0 1;
    box-shadow: -3px 6px 5px #999;
}

.kasse *:focus {
    outline: none;
}


.barrierContainer {
    position: absolute;
    right: 200px;
    top: 50%;
}

.barrier {
    position: absolute;
    width: 600px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background: repeating-linear-gradient( 45deg,red, red 10%,white 10%, white 20%);
    transform-origin: 100% 50%;
    right: -50px;
    top: 50px;
}

.barrier.active {
    animation: rotation 4s 1 backwards;
}

.orangeBox {
    background-color: #ee9e18;
    height: 300px;
    width: 150px;
    position: absolute;
    z-index: 1;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.lightsContainer {
    position: absolute;
    height: 130px;
    width: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.light {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

.greenLight {
    opacity: 0.5;
    background-color: green;
}

.greenLight.active {
    opacity: 1;
    box-shadow: 0 0 10px 5px green;
}

.yellowLight {
    opacity: 0.5;
    background-color: yellow;
}

.yellowLight.active {
    opacity: 1;
    box-shadow: 0 0 10px 5px yellow;

}

.redLight {
    opacity: 0.5;
    background-color: red;
}

.redLight.active {
    opacity: 1;
    box-shadow:0 0 10px 5px red;
}

.auto {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-400px, 100px);
}

.auto.active {
    animation: translation 5s 1 forwards;
    animation-delay: 1.1s;
}

@keyframes rotation{
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0);
    }

}



@keyframes translation {
    0% {
        transform: translate(-400px, 100px);
    }
    100% {
        transform: translateY(-500px);
        width: 0;
        height: 0;
    }
}

