.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modalContent {
    border: 2px solid white;
    border-radius: 3px;
    display: block;
    position: fixed;
    bottom: 40vh;
    right: 40vw;
    top: 40vh;
    left:40vw;
    background-color: #fefefe;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modalContent:hover{
    cursor: pointer;
}

/* The Close Button */
.modalClose {
    color: white;
    float: right;
    font-size: 15px;
    font-weight: bold;
    transition: transform 0.3s;
}

.alert{
    background-image: url("../icons/cross-flat.png");
    margin: 0 auto;
    background-size: 100%, 100%;
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.alert:hover{
    transform: scale(1.2);
}

.modalMessage{
    margin: 5%;
}

.modalClose:hover,
.modalClose:focus {
    transform: scale(1.2);
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    padding: 10px 16px;
    background-color: #4287f5;
    color: white;
    border-radius: 2px;
}

.modalBody{
    margin-top: 5%;
}

.modalFooter {
    border-radius: 2px;
    padding: 10px 16px;
    background-color: #4287f5;
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}