nav.pageLinks {
    position: absolute;
    right: 30px;
    top: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    height: 100px;
}

nav ul li {
    border: 1px solid blue;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    box-shadow: -5px 5px 20px rgb(0,0,0);
    transition: background-color 0.5s;
}

nav ul li a,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
    text-decoration: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

#linkParkhaus::before {
    display: inline-block;
    width: 20px;
    content: url("../icons/parking.svg"); /*https://fontawesome.com/v5.15/icons/parking?style=solid*/
    margin-right: 15px;
}

#linkCheckout::before {
    display: inline-block;
    width: 20px;
    margin-right: 15px;
    content: url("../icons/shoppingCart.svg"); /*https://fontawesome.com/v5.15/icons/shopping-cart?style=solid*/
}

#linkSettings::before{
    display: inline-block;
    width: 20px;
    content: url("../icons/tools.svg"); /*https://fontawesome.com/v5.15/icons/tools?style=solid*/
    margin-right: 15px;
}

#linkStatistics::before {
    display: inline-block;
    width: 20px;
    content: url("../icons/chart.svg"); /*https://fontawesome.com/v5.15/icons/shopping-cart?style=solid*/
    margin-right: 15px;
}

nav ul li:hover{
    background-color: rgb(230,230,230);
}

nav ul li.active {
    border-width: 3px;
}