.simulationContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.simulationContainer div {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

input[type="number"] {
    width: 70px;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}

input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: all 0.5s;
}
input:checked[type="checkbox"] {
    background: #03a9f4;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: .5s;
}

input:checked[type="checkbox"]::before {
    left: 20px;
}

.specificSettings {
    display: flex;
    gap: 40px;
}