.chartStats {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper h1 {
    color: #4287f5;
}

.statSelect {
    display: flex;
    gap: 5px;
}

.chartContainer {
    width: 500px;
    height: 500px;
    margin-top: 50px;
}

canvas {
    width: 100%;
    height: 100%;
}

#statisticsTable {
    width: 400px;
}

#statisticsTable th {
    text-align: left;
    height: 50px;
}