@import "buttons.css";
@import "carpark.css";
@import "floors.css";
@import "header.css";
@import "table.css";
@import "footer.css";
@import "modals.css";
@import "kasse.css";
@import "settings.css";
@import "statistics.css";
@import "navbar.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Helvetica, Arial;
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* https://codepen.io/afarrar/pen/JRaEjP */
.serverTime {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 350px;
    left: 200px;
    top: 150px;
    font-size: 52px;
    color: #17D4FE;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
}


