table {
    width: 800px;
    border: 1px solid black;
    max-height: 600px;
    overflow: scroll;
    margin-top: 20px;
}
table.admin {
    width: auto;
}
table .title {
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 3px 5px;
    text-align: center;
}

tr.active.Standard {
    background-color: #404040;
    color: white;
}

tr.active.Family {
    background-color: green;
    color: white;
}

tr.active.Business {
    background-color: red;
    color: white;
}